<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023464457003-gv8ma7fi5nh2a0pgolj7imafbu82d6of.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023464457003-gv8ma7fi5nh2a0pgolj7imafbu82d6of</string>
	<key>API_KEY</key>
	<string>AIzaSyAiwFLtvzZwB_4oeRvcSVJo9YjeBMsqG_U</string>
	<key>GCM_SENDER_ID</key>
	<string>1023464457003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.zennit.agenda</string>
	<key>PROJECT_ID</key>
	<string>agenda-notification-14574</string>
	<key>STORAGE_BUCKET</key>
	<string>agenda-notification-14574.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023464457003:ios:084884e974fafcf7437b6e</string>
	<key>DATABASE_URL</key>
	<string>https://agenda-notification-14574.firebaseio.com</string>
</dict>
</plist>